body {
    background: #333;
    color: #fff;
    font-family: Calibri, Arial, sans-serif;
    font-size: 150%;
    margin: 0; /* keep this */
}

header {
    background: #333;
    position: fixed;
    float: left;
    width: 100%;
}

h1 {
    float: left;
    width: 50%;
    padding-left: 2%;
}

article {
    font-size: 85%;
    width: 35%;
    color: #000;
    float: right;
    margin-top: 9%;
    margin-right: 4%;
    margin-bottom: 4%;
    margin-left: 1%;
    padding: 20px;
    padding-top: 25px;
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;
}

h2, section > p {
    text-align: left;
}

div {
    width: 55%;
    margin-top: 10%;
    margin-right: 1%;
    margin-bottom: 4%;
    margin-left: 4%;
    float: left;
    overflow: hidden;
}

#cougar {
    background: #FFD5AE;
}

#cougar h2 {
    text-align: left;
    margin-top: 0;
    padding-top: 5%;
}

#cougar img {
    display: block;
    margin: .5px;
}

#lion {
    background: #FFBD82;
}

#lion h2 {
    text-align: left;
}

#lion img {
    display: block;
    margin: .5px;
}

#tiger {
    background: #B26219;
}

#tiger h2 {
    text-align: left;
}

#tiger img { 
    display: block;
    margin: .5px;
}

footer {
    font-size: 85%;
    text-align: center;
    padding: 0 33%;
    
}


/* ----- suggested colors -----
   B26219 cinnamon
   FFD5AE pale peach 
   FFBD82 peach
   379CB2 medium blue
   82E8FF light blue
   
   ----- neutral colors -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- links and nav --- */

nav {
    float: right;
}

nav ul { 
    list-style-type: none;
    margin-top: 0;
}

nav li {
    float: left;
    margin-left: .5px;
    padding: .5em;
    padding-top: 2em;
}

#cougar {
    clear: both;
    overflow: hidden;
}

#lion {
    clear: both;
    overflow: hidden;
}

#tiger { 
    clear: both;
    overflow: hidden;
}

a { color: #379CB2; }
a:hover { color: #82E8FF; }